/* src/components/TaskEditModal.css */
.taskModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
